.App {
  text-align: center;
}

body {
  /* background-image: url(./components/background.jpg); */

  height: 100vh;
  width: 300px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.container {
  background-image: url(./components/background.jpg);
  background-size: cover;
  width: 93%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
  /* background: rgb(255, 255, 255, 0.08); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(37, 32, 32, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(5px); */
  padding: 20px;
  margin-top: 10px;
}

.Nav {
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  padding: 15px;
  display: flex;
  gap: 10px;
}
.Header {
  width: 40%;
  color: white;
  font-size: 4rem;
  font-weight: 800;
  text-align: start;
  margin: 0;
  background: -webkit-linear-gradient(#e0eafc, #cfdef3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.para {
  width: 45%;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
  margin: 0;
}

.button {
  width: 150px;
  border-radius: 18px 0px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: white;
  font-weight: 800;
  font-size: large;
  padding: 15px;
  border: 2px solid rgb(255, 255, 255, 0.08);
  box-shadow: 0px 4px 0.1px 0.1px #0093e9;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vh;
  border-radius: 12px 12px 0px 12px;
}

.heading